doctype html
html
  head
  body
    a#login-button(href='https://github.com/login/oauth/authorize?client_id=c799e69747b8d5b154b1&redirect_uri=http://localhost:8050/oauth/redirect')
      | Login with github
