doctype html
html
  head
  body
    button#login-button(onclick='redirect()') Login with github
    script.
      function redirect(e) {
        console.log("hereeeeeeeeeeeeee",e)
      window.location =`https://github.com/login/oauth/authorize?client_id=c799e69747b8d5b154b1&amp;redirect_uri=http://${window.location.hostname}:8050/oauth/redirect`
      }
