doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Hello
  body
    p Welcome #{name} (#{email})
    p Your access token is:  #{accessToken}
    p Please use this token in header(x-access-token) to communicate with APIS
